<!DOCTYPE html>
<html>

<head>
  <title>CrowdFeel</title>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <link rel="shortcut icon" href="/favicon.ico">

</head>

<body>
  <h1>CrowdFeel</h1>
  <h5>Submit a word/brand/person to see the sentiments of the tweets the word is mentioned</h5>
  <hr/>
  <input type="text" id="searchText" placeholder="Enter text here!">
  <div class="results">
    <h3>Sentiment Results</h3>
    <div class="loading">Loading.. Please wait</div>
    <br/>
    <div class="error">Oh no! Something went wrong</div>
    <br/>
  </div>
  <section class="tweets">
  </section>

 <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>          
 <script type="text/javascript" src="scripts/app.js"></script>

  <script type="text/html" id="tweet_template">
    <div class = "card">
        <img src="{{=imgSrc}}">
        <p>{{=tweet}}
        <a href="{{=tweetLink}}" target="_blank">Link</a></p>
        <p>Sentiment Score: {{=score}}</p>
        <p>Words Matched: {{=wordsMatched}}</p>
    </div>
  </script>
</body>

</html>
