body {
  padding: 50px;
}
a {
  color: #00B7FF;
}
input {
  width: 98%;
  padding: 9px;
  font-size: 17px;
}
.results {
  display: none;
}
.error {
  color: red;
  display: none;
}
.tweets {
  width: 100%;
  overflow: hidden;
  padding-right: 18px;
}